<!--
  ~ Copyright notice
  ~
  ~ (c)  2017-2017. Daniel Pfeil <dp@api-studio.de>, API Studio UG (haftungsbeschraenkt)
  ~
  ~ All rights reserved
  ~
  ~ This script is part of the TYPO3 project. The TYPO3 project is
  ~ free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation; either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ The GNU General Public License can be found at
  ~ http://www.gnu.org/copyleft/gpl.html.
  ~
  ~ This script is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ This copyright notice MUST APPEAR in all copies of the script!
  -->

<div class="imageshop cartView">
    <h2>
        <f:translate key="LLL:EXT:imageshop/Resources/Private/Language/locallang.xlf:list.cart.heading"/>
        <f:comment><f:render partial="UserSection" arguments="{isLoggedIn:isLoggedIn,user:user}" /></f:comment>
    </h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel-group" id="cart-accordion-{cobj.uid}" role="tablist" aria-multiselectable="true">
                    <f:for each="{carts}" as="cart">
                        <f:render partial="Cart/List" arguments="{cart:cart,cobj:cobj}"></f:render>
                    </f:for>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="{f:uri.action(action: 'list', controller:'Main')}">
                    <button class="btn btn-info" style="width:100%;">
                        <span class="glyphicon glyphicon-th-list"></span>
                        <f:translate key="LLL:EXT:imageshop/Resources/Private/Language/locallang.xlf:list.collection.overview"/>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>